.detail-layout {
  display: flex;
  gap: var(--gap-large);
  background: var(--card-background);
  padding: var(--gap-medium);
  border-radius: var(--border-radius);
  // margin-top: 60px;
}

.image-side {
 flex: 0 0 500px; 

  img {
    width: 100%;

    border-radius: var(--border-radius);
  }
}

.content-side {
  flex: 1;

  h1 {
    margin-top: 0;
    margin-bottom: var(--gap-medium);
  }

  p {
    margin: 12px 0;
  }

  h2 {
    margin-top: 25px;
  }

  mat-chip-set {
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid var(--border-color-light);
  }

  mat-chip {
    border: 1px solid var(--border-color-dark);
  }

}

