@import '@angular/material/prebuilt-themes/indigo-pink.css';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  background-color: #f5f5f5;
}

:root {
  --card-background: white;
  --border-color: #b3b3b3;
  --border-color-light: #c5c5c5;
  --border-color-dark: #c0bfbf;
  --text-secondary: #757575;
  --background-light: #f5f5f5;
  --border-radius: 8px;
  --gap-large: 40px;
  --gap-medium: 20px;
}